:root{
    --main-font: 'Montserrat', sans-serif;
    --primary-color: #C6F906;
    --secondary-color: #FEFEFE;
    --black-color: #050505;
    --font-light: #a6a6a6;

    --font-h1: 100px;
    --font-h2: 32px;
    --font-h3: 16px;
}